@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.button2 {
	position: relative;
	display: inline-block;
	padding: 20px 41px;
	border-radius: 8px;
  color: #fcfcfc;
  letter-spacing: 2px;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	margin: 25px;
	font-family: "Roboto", sans-serif;
	filter: hue-rotate(0deg);
	border: 2px solid #d2bdff;
	transition: all 0.1s linear;
}

.button2:hover {
	border: 1px solid transparent;
}

.button2:hover span {
	position: absolute;
	display: block;
}

.button2:hover span:nth-child(1) {
	filter: hue-rotate(0deg);
	top: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: linear-gradient(90deg, transparent, #3a86ff);
	animation: animate1 1s linear infinite;
}

@keyframes animate1 {
	0% {
		left: -100%;
	}

	50%,
  100% {
		left: 100%;
	}
}

.button2:hover span:nth-child(2) {
	filter: hue-rotate(60deg);
	top: -100%;
	right: 0;
	width: 3px;
	height: 100%;
	background: linear-gradient(180deg, transparent, #3a86ff);
	animation: animate2 1s linear infinite;
	animation-delay: 0.25s;
}

@keyframes animate2 {
	0% {
		top: -100%;
	}

	50%,
  100% {
		top: 100%;
	}
}

.button2:hover span:nth-child(3) {
	filter: hue-rotate(120deg);
	bottom: 0;
	right: 0;
	width: 100%;
	background: linear-gradient(270deg, transparent, #3a86ff);
	animation: animate3 1s linear infinite;
	animation-delay: 0.5s;
}

@keyframes animate3 {
	0% {
		right: -100%;
		height: 3px;
	}

	50%,
  100% {
		height: 2px;
		right: 100%;
	}
}

.button2:hover span:nth-child(4) {
	filter: hue-rotate(300deg);
	bottom: -100%;
	left: 0;
	width: 3px;
	height: 100%;
	background: linear-gradient(360deg, transparent, #3a86ff);
	animation: animate4 1s linear infinite;
	animation-delay: 0.75s;
}

@keyframes animate4 {
	0% {
		bottom: -100%;
	}

	50%,
  100% {
		bottom: 100%;
	}
}

.aboutme-heading{
  padding-top: 30px;
  font-size: 50px;
  color:white;
  background-color: #111;
}

.bk-bg{
  background-color: #111;
}

.timeline-container {
  min-height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  background-color: #111;
}

.courses{
  color:white;
  padding-bottom: 30px;
  align-items: center;
  justify-content: center;
  background-color: #111;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: normal;
}

.courses-content{
  background-color: #1e1f22;
  border-radius: 10px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  word-spacing: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  white-space: normal;
}

.courses-content .title {
  color: white;
  font-size: 25px;
  word-spacing: 1px;
  padding-left: 20px;
  padding-right:20px;
  padding-top: 20px;
  position: relative;
  white-space: normal;
  transition: all 0.2s ease;
}
.course:hover .title{
  color: white;
  font-size: 27px;
  font-weight: 700;
  padding-left: 20px;
  padding-right:20px;
  padding-top: 20px;
  position: relative;
  transition: all 0.2s ease;
  /*
  text-shadow:
    0 0 10px #fff,
    0 0 16px #fff,
    0 0 72px rgb(35, 109, 247),
    0 0 82px rgb(35, 109, 247),
    0 0 90px rgb(35, 109, 247),
    0 0 100px rgb(35, 109, 247);
  */
  
}

.courses .description{
  opacity: 0;
  color: rgb(114, 114, 114);
  z-index: 1;
  font-size: 20px;
  max-height: 0;
  word-spacing: 1px;
  padding-left: 40px;
  padding-right:40px;
  position: relative;
  transition: all 0.3s ease;

}

.course:hover .description{
  transition: all 0.3s ease;
  opacity: 1;
  max-height:150em;
}

.courses .grade{
  opacity: 0;
  max-height: 0;
  transition: all 0.3s ease;
  font-size: 20px;
  word-spacing: 1px;
  text-shadow:
  0 0 10px #fff,
  0 0 16px #fff,
  0 0 72px rgb(35, 109, 247),
  0 0 82px rgb(35, 109, 247),
  0 0 90px rgb(35, 109, 247),
  0 0 100px rgb(35, 109, 247);
}

.course:hover .grade{
  transition: all 0.3s ease;
  opacity: 1;
  padding-bottom: 10px;
}

.skills{
  color:white;
  background-color: #111;
  padding-bottom: 30px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills-content{
  background-color: #1e1f22;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 60%;
  padding-top: 10px;
  padding-bottom: 10px;
  word-spacing: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}



.skills-content .text{
  color: white;
  font-size: 25px;
  flex-basis: 33.333333%;
  padding-left: 20px;
  padding-right:20px;
  padding-top: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s ease;
}

.skills-content .text:hover{
  color: white;
  font-size: 30px;
  font-weight: 700;
  padding-left: 20px;
  padding-right:20px;
  padding-top: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s ease;
}

.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.timeline ul {
  list-style: none;
}
.timeline ul li {
  padding: 20px;
  background-color: #1e1f22;
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}
.timeline ul li:last-child {
  margin-bottom: 0;
}
.timeline-content h1 {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 10px;
}

.timeline-content{
  transition: all 0.3s ease;
}

.timeline-content:hover{
  transition: all 0.3s ease;
  height:auto;
  padding-block: 10px;
}
.timeline-content h2 {
  font-weight: 500;
  font-size: 18px;
  color : rgb(146, 146, 146);
  line-height: 20px;
  margin-bottom: 10px;
}
.timeline-content p {
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 1px;
}

.timeline-content b {
  font-weight: 500;
  color:rgb(44, 128, 255);
}

.timeline-content .date {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 2px;
}
@media only screen and (min-width: 768px) {
  .timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: gray;
  }
  .timeline ul li {
    width: 50%;
    position: relative;
    margin-bottom: 50px;
  }
  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
    border-radius: 20px 0px 20px 20px;
  }
  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
    border-radius: 0px 20px 20px 20px;
  }
  .timeline ul li::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: gray;
    top: 0px;
  }
  .timeline ul li:nth-child(odd)::before {
    transform: translate(50%, -50%);
    right: -30px;
  }
  .timeline ul li:nth-child(even)::before {
    transform: translate(-50%, -50%);
    left: -30px;
  }
  .timeline-content .date {
    position: absolute;
    top: -30px;
  }
  .timeline ul li:hover::before {
    background-color: rgb(207, 208, 211);
  }
}
